.Login {
    display: flex
}

.Login .welcome {
    font-size: 55px;
    color: #276678;
    padding-top: 12%;
    margin-left: 30%;
    font-weight: 600;
}

.login-page {
    padding-top: 8%;
    margin-left: 6%;
}

.login-header {
    color: #F6F5F5;
    font-family: system-ui;
}

.login-header .login-h3 {
    font-size: 23px;
    font-family: sans-serif;
    font-weight: 600;
}

.login-page .form .login {
    margin-top: -31px;
    margin-bottom: 26px;
}

.form {
    position: relative;
    z-index: 1;
    max-width: 450px;
    margin: 0 auto 100px;
    padding: 50px 40px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    background-color: #276678;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 7px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    text-align: center;
    outline: 0;
    background-color: #F6F5F5;
    background-image: linear-gradient(45deg, #F6F5F5, #D3E0EA);
    width: 30%;
    border-radius: 10px;
    border: 0;
    padding: 15px;
    color: #276678;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-top: 23px;
}

.form .message {
    margin: 15px 0 0;
    color: #D3E0EA;
    font-size: 15px;
}

.form .message a {
    color: #F6F5F5;
    text-decoration: none;
}

/* .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
} */